<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Foodie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/63356e3998.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <% if user_signed_in? %>
      <header class="header">
        <h1 class="title"><%= link_to "Foodie", posts_path %></h1>
        <ul>
          <li><%= link_to "HOME", posts_path %></li>
          <li><%= link_to "NEW", new_post_path %></li>
          <li><%= link_to "MY PAGE", user_path(current_user.id) %></li>
        </ul>        
      </header>
    <% end  %>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>

    
  </body>
</html>
